{% extends 'layout.html' %}
{% block heading %} Log in {% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<div>
    <form method="POST">
        <fieldset>
            Username: <input type="text" name="username"><br>
            <input type="submit" name="Login">
        </fieldset>
        Or sign up <a href={{ url_for('signup') }}>here</a> <br>
        <button type="button" class="btn btn-info btn-lg" onclick="location.href='{{ url_for('googleauth') }}';">Login with Google</button> <br> <br>
    </form>
</div>
</body>


</html>
{% endblock %}