{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>      
    <link rel="stylesheet" href={{ url_for('static', filename='css/test.css')}}>
</head>
<body><div class="signup-page">
  <div class="form">
    <form class="login-form">
<form action="{{ url_for('signup') }}" method="post">
  <fieldset>
    <p class="title">Register</p>
    <input type="text" placeholder="username"><br><br>
    <input type="text" placeholder="tent ID">
    <input type="checkbox" onclick="isCaptainForm()" id="captain" name="captain" value="Captain"/>
      <label for="captain">Captain?</label>

      <br>

      
      <div id="ifCaptain" style="display:none"> <br>
          What color is your tent? <br>
          <input type="radio" name="color" value="Black"> Black <br>
          <input type="radio" name="color" value="Blue">  Blue  <br>
          <input type="radio" name="color" value="White"> White <br> <br>
          What do you want to name your tent? <br>
          <input type="text" name="tentName" placeholder="Enter your tent name"> <br>
      </div>
    <input type="submit" value="Submit">
  </fieldset>
        </form></form></div></div>
</body>
<script type="text/javascript">
    function isCaptainForm() {
        if (document.getElementById("captain").checked) {
            document.getElementById("ifCaptain").style.display = 'block';
        }
        else {
            document.getElementById("ifCaptain").style.display = 'none';
        }
    }
</script>
</html>
{% endblock %}