{% extends 'layout.html' %}
{% block heading %} {% for tent in tent %} {{ tent.name }}'s Profile {% endfor %} {% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Tent Profile | Tents @ Duke</title>
    <!-- Stylesheets and JS for FullCalendar support -->
    <link rel="stylesheet" href={{ url_for('static', filename='css/fullcalendar.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='scheduler.css') }}>
    <script src={{ url_for('static', filename='js/moment.js') }}></script>
    <script src={{ url_for('static', filename='js/fullcalendar.js') }}></script>
    <script src={{ url_for('static', filename='js/scheduler.js') }}></script>
</head>
<body>
    <div>
    <ul>
        Here are the list of tenters:
        {% for member in tenters %}
            <li> <a href="{{ url_for('userProfile', userid=member.id) }}"> {{ member.name }} </a> </li>
        {% endfor %}
    </ul>
    <div id='calendar'></div>
</body>
<script>
    $(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
        schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
        header: {
            left: 'prev,next today',
            right: 'month, agendaWeek, agendaDay'
        },
        defaultView: 'agendaWeek'
    })
    });
</script>
</html>
{% endblock %}
